.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.5rem;
	justify-items: center;
	align-items: center;

	height: 45vh;
	width: 45vw;
	border: 0.0001px solid var(--color-2);
	border-radius: 0.5rem;
	background-color: var(--color-4);
	transition: 0.75s;
}

.grid-item {
	display: flex;
	justify-content: center;
	align-items: center;
	word-wrap: break-word;
	height: 10vh;
	width: 10vh;
	border-radius: 0.25rem;
	font-weight: 300;
	font-size: 1.3rem;
	background-color: var(--color-3);
}
